.experience-info h3{
  text-transform: uppercase;
  font-size:medium;
  font-style: italic;
}

.experience-info h4{
  text-transform: uppercase;
  font-weight: 300;
  margin: 0;
}

.desc .vl{
  border-left: 3px solid rgb(82, 82, 82);
  margin-right: 5px;
}

.desc {
  display: flex;
}