.hidden-word ul{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hidden-word li{
  list-style: none;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.hidden-word{
  font-size: 30px;
}

.game-inputs{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.game-inputs input{
  height: 50px;
  width: 40px;
  font-size: 40px;
}
.game-inputs button{
  height: 40px;
  width: fit-content;
  font-size:18px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
}

.game-inputs button:hover {
  background-color: rgb(85, 84, 84);
  transition: 0.2s;
}