.hidden-word ul{
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hidden-word li{
  list-style: none;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.hidden-word{
  font-size: 50px;
}

.game-inputs{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.game-inputs label{
  font-size: 25px;
}
.game-inputs input{
  height: 50px;
  width: 40px;
  font-size: 40px;
}
.game-inputs button{
  height: 40px;
  width: fit-content;
  font-size:18px;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
}

.game-inputs button:hover {
  background-color: rgb(85, 84, 84);
  transition: 0.2s;
}
/* .game {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
} */

.game .forca{
  position: relative;
}
#cabeca{
  display: none;
  position: absolute;
  left: 28%;
  top: 13%;
  height: 50px;
  width: 50px;
}

#corpo{
  display: none;
  position: absolute;
  left: 40%;
  top: 38%;
  height: 50px;
  width: 3px;
}
#bracoEsq{
  display: none;
  position: absolute;
  transform: rotate(45deg);
  left: 30%;
  top: 34%;
  height: 50px;
  width: 3px;
}
#bracoDir{
  display: none;
  position: absolute;
  transform: rotate(135deg);
  left: 50%;
  top: 34%;
  height: 50px;
  width: 3px;
}
#pernaDir{
  display: none;
  position: absolute;
  transform: rotate(135deg);
  left: 50%;
  top: 59%;
  height: 50px;
  width: 3px;
}
#pernaEsq{
  display: none;
  position: absolute;
  transform: rotate(45deg);
  left: 30%;
  top: 59%;
  height: 50px;
  width: 3px;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
