.produtoCard {
  width: 390px;
}

.produtoCard .main-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 90px;
  justify-content: center;
}

.produtoCard .linhaPrincipal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(187, 168, 140);
}

.produtoCard .esgotado{
  color: red;
}

.produtoCard .estoque{
  color: green;
}

.produtoCard .header{
  text-align: center;
  height: 60px;
  background-color:rgb(127, 182, 255);
}