a {
  text-decoration: none;
}

nav {
  font-family: sans-serif;
}

ul {
  background:grey;
  list-style: none;
  margin: 0;
  padding-left: 0;
  
}

li {
  color: #fff;
  background: gray;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  border-radius: 5px;
}
  
li a {
  color: #fff;
}

li:hover,
li:focus-within {
  background: rgba(14, 13, 13, 0.63);
  cursor: pointer;
}

li:hover a{
  color: rgb(12, 66, 12);
}

li:focus-within a {
  outline: none;
}

ul li ul {
  background: gray;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
ul li:hover > ul a{
  color: #fff;
}

ul li ul li {
  clear: both;
  width: 100%;
}