.game-buttons button {
  height: 100px;
  width: 200px;
  font-size:30px;
  background-color: gray;
  border: 3px solid black;
  border-radius: 5px;
}

.game-buttons{
  display: flex;
  margin-top: 50px;
  justify-content: space-evenly;
}

.game-buttons button:hover {
  background-color: rgb(85, 84, 84);
  transition: 0.2s;
}